[submodule "daily_stock_analysis"]
	path = daily_stock_analysis
	url = https://github.com/ZhuLinsen/daily_stock_analysis.git
[submodule "FinGenius"]
	path = FinGenius
	url = https://github.com/HuaYaoAI/FinGenius.git
